@model Blinds.Web.Areas.Public.Models.ProductsModel

<div class="well text-center">
    <h3>@Model.Name</h3>
    <p>@Model.Info</p>

    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Content,
          Base64FormattingOptions.None)"
         alt="Image" /> 
</div>
