@using Blinds.Common

<div class="form-group">
    <div class="col-md-2">@GlobalConstants.BlindControlSideText</div>
    <div class="col-md-4">@GlobalConstants.BlindWidthText</div>
    <div class="col-md-4">@GlobalConstants.BlindHeigthText</div>
    <div class="col-md-2">@GlobalConstants.PriceDisplay</div>
</div>