<div class="form-group">
    <div class="col-md-2">Управление</div>
    <div class="col-md-4">Хоризонтален размер</div>
    <div class="col-md-4">Вертикален размер</div>
    <div class="col-md-2">Брой</div>
</div>
