<h4>Въведете размер</h4>
<hr />
<div class="form-group">
    <div class="col-md-2">Управление</div>
    <div class="col-md-3">Хоризонтален размер</div>
    <div class="col-md-3">Вертикален размер</div>
    <div class="col-md-2">Посока на събиране</div>
    <div class="col-md-1">Брой</div>
</div>
@Html.EditorFor(x => x, "NewBlindRow")