@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BMS</h1>
    <p class="lead">Щори........................................Щори</p>
</div>
<div class="row">
    @Html.Partial("_ProductPartial")
</div>

@section NewsSidebar {

    <div class="list-group sidebar">
        <a href="#" class="list-group-item active">
            Новини
        </a>
        <a href="#" class="list-group-item">
            НОВО!
        </a>
        <a href="#" class="list-group-item">
            Morbi leo risus
        </a>
    </div>
    
}