@model HttpPostedFileBase
@using Kendo.Mvc.UI
@using Blinds.Common

<div class="form-group">
    @Html.LabelFor(m => m, htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-7">
        @(Html.Kendo().Upload()
              .Name("pictures")
              .Messages(m => m.Select(GlobalConstants.FileUploadText))
              .Multiple(true)
              .Async(async => async
                      .Save("UploadPicture", "Pictures")
                      .AutoUpload(true))
                      .Events(e => e
                            .Upload("onUpload")
                            .Success("onSuccess")
              )
        )
        @Html.ValidationMessageFor(m => m, null, new { @class = "text-danger" })
    </div>
</div>