@model ComponentsModel
@using Blinds.Web.Areas.Administration.Models;
@using Blinds.Common
@using Kendo.Mvc.UI

@{
    const string Controller = "Components";
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Administration/Scripts/KendoGridHelpers.js")"></script>
}

<h2>@GlobalConstants.ComponentsControllerTitle</h2>

@Html.AntiForgeryToken()

@(Html.Kendo().Grid<ComponentsModel>()
    .Name("grid-components")
    .Columns(columns =>
    {
        columns.Bound(model => model.Name);
        columns.Bound(model => model.BlindTypeName);
        columns.Bound(model => model.Quantity);
        columns.Bound(model => model.Price);
        columns.Command(command =>
        {
            command.Edit()
                .UpdateText(GlobalConstants.Update)
                .CancelText(GlobalConstants.Cancel)
                .Text(GlobalConstants.EditLabel);
            command.Destroy()
                .Text(GlobalConstants.Delete);
        }).Width(250);
    })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(h => h.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Read(r => r.Action("Read", Controller).Data("sendAntiForgery"))
            .Update(up => up.Action("Save", Controller).Data("sendAntiForgery"))
            .Destroy(del => del.Action("Destroy", Controller).Data("sendAntiForgery"))
            .Create(create => create.Action("Save", Controller).Data("sendAntiForgery"))
            .Events(events => events.Sync("sync_handler"));
    }
    )
    .Sortable()
    .Pageable(page => page.Refresh(true))
    .ToolBar(toolbar => toolbar.Create().Text(GlobalConstants.Create))
    .Editable(
                e => e.Mode(GridEditMode.PopUp).TemplateName("ComponentsTemplate").Window(w => w.Title(GlobalConstants.AddEditLabel).Width(450))
            )
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Selectable()
)