
@{
    ViewBag.Title = "Terms";
}

<h2>Общи условия за продажба</h2>

<div>
    <p><br><strong>ОБЩИ РАЗПОРЕДБИ</strong></p>
    <p>1.1. Тези Общи условия се прилагат при продажба на стоки от</p>
    <p><strong>Blind Manufacture & Supply</strong>, със седалище и адрес на управление: ГР. СОФИЯ, БУЛ. ВАСИЛ ЛЕВСКИ 100</p>
    <p>наричан по-долу Продавач, на физически или юридически лица, наричани по-долу Купувач.</p>
    <p>1.2. Общите условия представляват отнапред установени разпоредби, които уреждат отношенията между Продавача и Купувача по договор за продажба.</p>
    <p>1.3. Общите условия пораждат правно действие между страните, след като:</p>
    <p>1.3.1. Купувачът заяви писмено, че приема Общите условия, при които продава Продавачът;</p>
    <p>1.3.2. Купувачът е знаел за Общите условия или е бил длъжен да знае и не ги оспори до момента, в който му е предадена стоката.</p>
    <p>1.4. Страните в писмен договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача могат да уговарят помежду си и условия, различни от Общите условия. Тези условия се конкретизират в съответния писмен документ и имат действие само за конкретната продажба. В този случай, при несъответствие между уговореното от страните и Общите условия, има сила уговореното.</p>
    <p>2. ПРЕДМЕТ НА ДОГОВОРА ЗА ПРОДАЖБА</p>
    <p>2.1. Продавачът се задължава да прехвърли на Купувача правото на собственост върху Стоката, описана в писмен договор, в приложение към такъв договор, в приемо-предавателен протокол и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача, срещу цена, която Купувачът се задължава да му заплати.</p>
    <p>2.2. При сключване на договор за продажба, Купувачът се лигитимира със следните документи:</p>
    <p>2.2.1. за физически лица – лична карта</p>
    <p>2.2.2. за юридически лица и еднолични търговци:</p>
    <p>- Съдебно решение;</p>
    <p>- Aктуално състояние;</p>
    <p>- Данъчна регистрация;</p>
    <p>- Регистрация по БУЛСТАТ</p>
    <p>2.3. Офертите на Продавача следва да се разбират като подлежащи на изменение без уведомяване 5 дни след датата на издаване, освен ако изрично не е договорено обратното.</p>
    <p>2.4. Когато продажбата се извършва на база мостри, характеристиките на мострите не се считат за 100% гарантирани. Мострите се считат само за образци, показващи естеството и вида на стоките.</p>
    <p>3. ЦЕНА И НАЧИН НА ПЛАЩАНЕ</p>
    <p>3.1. Цената на Стоката се вписва в писмен договор, в приложение към такъв договор и/или в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача въз основа на определените от Продавача цени на отделните видове стоки.</p>
    <p>3.2. Ако в писмения договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача&nbsp; изрично не е посочено друго, се приема, че цената на Стоката е без включен Данък върху добавената стойност.</p>
    <p>3.3. Дължимата цена се заплаща при предаването на Стоката.</p>
    <p>3.4. Уговорка за авансово или разсрочено плащане на цената е допустима само ако е изрично отразена в писмен договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача.</p>
    <p>3.4.1. При уговорено в писмения договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача разсрочено плащане Продавачът може да иска от Купувача издаването на запис на заповед за разсрочената сума.</p>
    <p>3.4.2. При цена на Стоката над 3000 лева Продавачът може да иска от Купувача допълнителни търговски обезпечения: търговски залог, банкова гаранция, запис на заповед, съгласие за незабавно инкасо – заверено от обслужващата Купувача банка, поръчителство, ипотека и т. н. По своя преценка Продавачът може да иска допълнителни търговски обезпечения и в други случаи.</p>
    <p>3.5. Плащането на цената се извършва в брой в офисите на Продавача</p>
    <p>- При монтаж на място – на служителите на Продавача</p>
    <p>- или по банков път по посочена от Продавача банкова сметка.</p>
    <p>3.6. Всички суми по договорени разсрочени плащания стават изискуеми веднага, ако за Купувача се открие производство по несъстоятелност, по ликвидация или по преобразуване.</p>
    <p>3.7. Плащането по банков път се счита за извършено в деня на заверяването на банковата сметка на Продавача.</p>
    <p>3.8. При плащане по банков път всички банкови разноски са за сметка на Купувача.</p>
    <p>4. ПРАВА И ЗАДЪЛЖЕНИЯ НА ПРОДАВАЧА</p>
    <p>4.1. Продавачът предава Стоката на Купувача съгласно Общите условия и уговореното в писмен договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача.</p>
    <p>4.2. Ако Купувачът е в забава за получаване на стоката, Продавачът може:</p>
    <p>- да я предаде за пазене;</p>
    <p>- да я продаде по пазарни цени, след като извести Купувача;</p>
    <p>- при бързоразвалящи се стоки да ги продаде и без предизвестие;</p>
    <p>4.3. Разноските, направени от Продавача във връзка с действия по предходната точка, са за сметка на Купувача.</p>
    <p>5. ПРАВА И ЗАДЪЛЖЕНИЯ НА КУПУВАЧА</p>
    <p>5.1. Купувачът е длъжен да изплати цената на Стоката в размера, по начина и в сроковете, определени в Общите условия или в писмен договор, в приложение към такъв договор, в приемо-предавателен протокол, и/или във фактура изготвена по образец на Продавача, и/или стокова разписка изготвена по образец на Продавача.</p>
    <p>5.2. Купувачът е длъжен да получи и вдигне Стоката.</p>
    <p>5.3. Купувачът е длъжен да прегледа стоката в 3 -дневен срок след получаването й и ако не отговаря на изискванията, да уведоми незабавно Продавача. Ако Купувачът не направи това Стоката се смята за одобрена.</p>
    <p>5.4. При скрити недостатъци на Стоката, съществували преди продажбата й. Купувачът има право:</p>
    <p>- да иска тя да се замени с качествена стока;</p>
    <p>- да иска съответно намаление на цената, но не повече от 10 (десет) процента от цената на Стоката.</p>
    <p>5.5. Правото на Купувача по предходната точка се погасява с изтичането на 15 (петнадесет) - дневен срок от предаването на Стоката.</p>
    <p>6. ПРЕДАВАНЕ НА СТОКАТА. ПРЕМИНАВАНЕ НА СОБСТВЕНОСТТА И РИСКА</p>
    <p>6.1. Предаването на Стоката се извършва в склада или магазините на Продавача.</p>
    <p>6.2. Може да се уговори предаване на Стоката на друго място или на превозвач, като в тези случаи рискът от погиването и повреждането й преминава върху Купувача от момента, в който Стоката напусне склада на Продавача.</p>
    <p>6.3. Продавачът е длъжен да предаде Стоката в уговорения срок. Ако такъв срок не е уточнен, Купувачът може да иска предаването й в разумен срок.</p>
    <p>6.4. Ако Купувачът не се яви да получи Стоката в уговорения срок или след покана, ако срок не е уговорен, Продавачът може да развали договора, без да дава допълнителен срок.</p>
    <p>6.5. Всички стоки, продадени и доставени от Продавача, остават собственост на Продавача до окончателното уреждане на всички финансови задължения на Купувача към Продавача.</p>
    <p>6.6. Купувачът има право да препродаде въпросните стоки по обичайния търговски ред, при условие, че изпълни задълженията си по този договор или по други договори, сключени между Продавача и Купувача.</p>
    <p>6.7. При удовлетворяване на исковете на Продавача, правото на собственост автоматично преминава върху Купувача.</p>
    <p>7. НЕИЗПЪЛНЕНИЕ. ПОСЛЕДИЦИ</p>
    <p>7.1. Всяка от страните има право да развали договора, ако насрещната страна виновно не изпълнява свое задължение по него.</p>
    <p>7.2. Купувачът не може да развали договора, ако количеството на предадената му Стока незначително се отклонява от договореното.</p>
    <p>7.3. В случая по предходната точка Купувачът може да иска съответно намаляване на цената.</p>
    <p>7.4. При забавено плащане Купувачът дължи на Продавача неустойка в размер на 1/360 от Основният Лихвен Процент + 10 пункта от неиздължената цена за всеки просрочен ден.</p>
    <p>7.5. Ако Купувачът неоснователно откаже да приеме Стоката (забава на кредитора), Продавачът може да развали договора, като има право на неустойка в размер 50 (петдесет) % от цената на стоката. Тази неустойка може да бъде прихваната и от авансово платената цена или част от нея.</p>
    <p>7.6. При неизпълнение на задълженията си по т. 9.3. неизправната страна дължи неустойка в размер на 5 000 (пет хиляди) лева.</p>
    <p>8. РЕКЛАМАЦИИ</p>
    <p>8.1. Продавачът гарантира, че стоките предмет на продажба отговарят на стандартните спецификации на производителите и предоставените сертификати и декларации за съответствие.</p>
    <p>8.2.&nbsp; Всякакви възражения от страна на Купувача по т.5.3 и 5.4 се правят в писмен вид.</p>
    <p>8.3. Възражения и рекламации не се приемат, ако влошаването на качеството на продуктите се дължи на неправилно товарене, транспорт, разтоварване от Купувача или неспазване на инструкциите за съхранение, употреба и работа със съответните продукти, описани в техническата документация на производителя.</p>
    <p>9. ЗАКЛЮЧИТЕЛНИ РАЗПОРЕДБИ</p>
    <p>9.1. Всички съобщения и уведомления между страните ще бъдат в писмена форма за действителност. Писмената форма се счита спазена при съобщения по факс или използване на някое друго техническо средство, съобщението от което може да се съхрани и има доказателства за неговото получаване.</p>
    <p>9.2. Нищожността на клауза от Общите условия или на допълнително уговорените условия не води до нищожност на друга клауза или на договора като цяло.</p>
    <p>9.3. Страните се задължават да не преотстъпват на трети лица информация, получена при или по повод сключването или изпълнението на договора.</p>
    <p>9.4. За всеки спор относно съществуването и действието на сключения договор или във връзка с неговото нарушаване, включително спорове и разногласия относно действителността, тълкуването, прекратяването, изпълнението или неизпълнението му, както и за всички въпроси, неуредени в Общите условия и в писмен договор, се прилага българското гражданско и търговско право, като страните уреждат отношенията си чрез споразумение. При непостигане на съгласие спорът се отнася за решаване пред Компетентния Български Съд.</p>
    <p>9.5. Тези Общи условия влизат в сила от 01 Януари 2016 г. и се прилагат до изричното им отменяне или заменяне с други.</p>
    <p>&nbsp;</p>
    <p>Утвърдил:</p>
    <p>&nbsp;</p>
    <p>Георги Малковски</p>
    <p>Управител</p>
    <p>Blind Manufacture & Supply</p>
</div>

